body{
	background: #780206;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #061161, #780206);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #061161, #780206); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1,ul{
	color: #e88a1a;
}

.title {
	font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

div{
	width: 300px;
	margin: 70px auto;
	border: 0.5px solid #d9d9d9;
	padding: 50px;
	background-color: #141414;
}

ul{
	list-style: none;
	margin: 0;
	padding: 20px 0px 0px 0px;
}

.align-input {
	float: left;
	margin: 16px 16px;
}


.round-button {
    display:block;
    width:50px;
    height:50px;
    line-height:50px;
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    color:#f5f5f5;
    text-align:center;
    text-decoration:none;
    background: #27660a;
    box-shadow: 0 0 3px gray;
    font-size:20px;
    font-weight:bold;
}
.round-button:hover {
    background: #262626;
}

.completed{
	text-decoration: line-through;
	color: grey;
}

input, textarea {
  background-color : #d9d9d9;
}

/*.hide {
  opacity: 0;
  transition: opacity 1000ms;
}*/

/*.fade { 
  animation: fadein 2s;

}
@keyframes fadein {
  from {
    opacity:1;
  }
  50% {
    opacity: 0;
  }
  to {
    opacity:1;
  }
}
*/