
body{
	background: #780206;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #061161, #780206);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #061161, #780206); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1,ul{
	color: #e88a1a;
}

div{
	width: 300px;
	margin: 70px auto;
	border: 0.5px solid #d9d9d9;
	padding: 50px;
	background-color: #141414;
}

ul{
	list-style: none;
	margin: 0;
	padding: 20px 0px 0px 0px;
}

.completed{
	text-decoration: line-through;
	color: grey;
}

input, textarea {
  background-color : #d9d9d9;
}
